<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header"> EK
      <div class="navbar-brand">
      </div>
    </div>
  </div>
  <div class="navbar-footer">
    <ul>
      <li><a href="about.asp">ABOUT</a></li>
      <li><a href="about.asp">CONTACT</a></li>
    </ul>
  </div>
</nav>
