<body>
  <div id="main-container" class="container">
    <div class="row">
      <div id="sidebar" class="col-xs-3">
        <!-- sidebar content -->
      </div>
      <div id="content" class="col-xs-9">
        <!--  main content -->
        <ul>
          <li><div class="square1">
            <a target="_blank" href="art"><img src="http://www.777a7.com/img80/ulbmrbvddphorwuzzwne.jpg"/></a>
          </div></li>
          <li><div class="square2">
            <a target="_blank" href="science"><img src="https://s-media-cache-ak0.pinimg.com/564x/a8/87/83/a887833a794c3b0a57f45ea1f17b7b02.jpg"/></a>
          </a>
          </div></li>
        </ul>
        <ul>
          <li><div class="square3">
            <a target="_blank" href="dev"><img src="http://www.memoori.com/wp-content/uploads/2015/10/Big-Data-1.jpg"/></a>
          </div></li>
          <li><div class="square4">
            <a target="_blank" href="me"><img /></a>
          </div></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
