/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

.body
  background-color: #98878F

.navbar
  background-color: #192231
  height: 85px
  position: relative
  opacity: .70
  border: none

.navbar-header
  position: absolute
  color: white
  width: 80%
  top: 60%
  left: 50%
  transform: translate(-50%,-50%)
  width: 200px
  height: 200px
  text-align: center
  font-size: 80px

.navbar-footer
  background-color: #494E6B
  position: absolute
  height: 30px
  bottom: 0
  width: 100%
  text-align: center
  text-decoration: none

.navbar-footer ul
  list-style-type: none
  margin-top: 5px
  margin-bottom: 10px
  padding: 0 10px 0 10px
  width: 200px
  overflow: hidden
  display: inline-flex
  text-align: center

.navbar-footer li
  padding-right: 10px

.navbar-brand
  font-size: 18px
  line-height: 20px
  height: 50px
  width: 117px
  position: absolute
  top: 0
  left: 15px
  background-image: url(Logomakr_4KzDNi.png)

.row
  background: antiquewhite
  height: auto
  margin-left: 300px
  margin-right: 300px
  opacity: 0.97

.container
  background: #192231
  background-size: 100% auto
  width: auto

.col-xs-9
  width: 100%
  padding: 0 0 0 2px

.square1
  height: 280px
  width: 280px
  border-style: solid
  border-radius: 25%
  padding: 20px
  background: #332f29

ul
  display: inline-flex
  list-style: none
  width: 100%
  padding: 0

li
  margin-right: 39px

.col-xs-9 img
  height: 230px
  width: 230px
  border-radius: 25%
  opacity: 0.2
  transition: opacity 1s ease-in-out
  -moz-transition: opacity 1s ease-in-out
  -webkit-transition: opacity 1s ease-in-out


.col-xs-9 img:hover
  opacity: 1.0
  transition: opacity .55s ease-in-out
  -moz-transition: opacity .55s ease-in-out
  -webkit-transition: opacity .55s ease-in-out

.square2
  height: 280px
  width: 280px
  border-style: solid
  border-radius: 25%
  background: #332f29

.square2 img
  height: 250px
  width: 250px
  border-radius: 25%
  padding: 10px 10px 10px 10px
  margin: 15px 15px 15px 15px

.square3
  height: 280px
  width: 280px
  border-style: solid
  border-radius: 25%
  background: #332f29

.square3 img
  height: 250px
  width: 250px
  border-radius: 25%
  padding: 10px 10px 10px 10px
  margin: 15px 15px 15px 15px


.square4
  height: 280px
  width: 280px
  border-style: solid
  border-radius: 25%
  background: #332f29

.square4 img
  background: url(10314588_10205204490780172_4002078944992727649_n.jpg)
  height: 250px
  width: 250px
  border-radius: 25%
  padding: 10px 10px 10px 10px
  margin: 15px 15px 15px 15px

.bottom
  height: 100px
  display: inline

.bottom ul
  display: inline-flex
  list-style:none
  width: 100%
  align-items: center
  padding: 50px 300px 0 350px
  margin: 0 0 10

.bottom img
  max-height: 100px
  max-width: 100px
  border-radius: 25%
